	
<% if user_signed_in?%>
	
		<% if Link.where("user_id"  => current_user.id).count != 0%>
			<h1> Your links </h1>
	<div id="table_links">
			<table>
			  <tr>
					<th>Title</th>
			    <th>Original</th>
			    <th>Compressed</th>
			  </tr>

			<% @links.each do |link| %>
			  <tr class="<%= cycle("even", "odd") %>">
					<td class="titolo"><%= truncate(link.title, :length  => 40) %></td>
			    <td class="longone"><%= link_to truncate(link.orig, :length  => 65), link.orig %></td>
			    <td class="shortone"><%= BASE_URL %>o/<%= link.comp %></td>
				</tr>
			<% end %>
			
			</table>
			</div>
		<% else %>
			You don't have any links yet
		<% end %>
	
<% else %>

	1. Drag this ->
	<a href="javascript:var%20e=document.createElement('script');e.setAttribute('language','javascript');e.setAttribute('src','<%= BASE_URL %>i/'+encodeURIComponent(location.href));document.body.appendChild(e);void(0);">jShorter</a> <- link to you toolbar<br />
	2. Click it whenever you want to send a long link<br />
	3. Copy the shorter link and send it<br />
	4. Go to the bar and have a beer<br />
	5. Thank you<br />
	6. Register if you want to keep track of all your links.<br /><br />
	Known issue - There's no way to close the jShorter bar. It's gonna be fixed in a couple of hours (I hope..)<br />
	- shame on me mode = on - For now just reload the page - shame on me mode = off -<br />
	This page is pretty damn empty, so here you have a picture of a horny dog:<br /><br />
	<img src="/images/goat.jpg"></img><br />

	<div id="footer">e-mail me at joni.giuro@gmail.com</div>

<% end %>